@page "/Entrar/{Code:int}"
@inject NavigationManager _navigationManager
@layout ComponentBaseLobby
@inject ICuestionarioActivoServices _cuestionarioActivoServices
@inject SweetAlertService _sweetAlert
@inject IHubJugadorServices _hubJugadorServices

@using CurrieTechnologies.Razor.SweetAlert2
@using anskus.Application.DTOs
<link rel="stylesheet" href="css/codigo.css" />
<div class="code__body">
    <a href="../#">
        <img src="./img/Logo.png" alt="">
    </a>
    <h3 class="code__body__title">
        Inserta tu nombre
    </h3>
    <div class="FormConteiner">
        <input type="text" @bind="participante.Nombre" placeholder="xXJuanitoGaymerXx">
        <button @onclick="EntrarSesion">Ingresar</button>
    </div>
</div>
@code {
    [Parameter]
    public int Code { get; set; }

    public ParticipanteEnCuestDTO participante { get; set; } = new();
    private async Task EntrarSesion()
    {
        var response = await _cuestionarioActivoServices.AddUserToRoom(Code, participante.Nombre);

        if (response.success)
        {
            participante.IdPeC = Guid.NewGuid();
            participante.Codigo = Code;
            bool result = await _hubJugadorServices.AddUserToRoom(participante);
            if (result)
            {
                _navigationManager.NavigateTo("/Sala");
            }
        }
        else
        {
            var res = response.errors;
            if (response.errors != null && response.errors.TryGetValue("Name", out var nameErrors))
            {
                var errorMessage = string.Join(", ", nameErrors);
                await _sweetAlert.FireAsync("Oops...", errorMessage, SweetAlertIcon.Error);
            }

        }

    }

}