@page "/OnGame/Pregunta"
@inject IStateCreador _stateCreador
@layout ComponentBaseHub
@implements IDisposable
<link rel="stylesheet" href="/css/Preguntas.css" />
<section class="preguntas__body">
    <div class="ContainerTotalUsuarios">
        @UsuariosContestado
    </div>
        <PreguntaComponent OnSiguiente="Siguiente" >
        </PreguntaComponent>
    <div class="ContainerFooter" id="footerDiv">
        <div class="ContainerFooterSection">
            <div class="TotalPreguntas">
                3/10
            </div>
        </div>
    </div>
</section>

@code {
    @using System.Threading
    private Timer? _timer;
    private int UsuariosContestado = 0;
    private int segundos = 10;
    //Ver Estadisticas de Participantes
    protected override void OnInitialized()
    {
        _stateCreador.OnUsuarioContesto += OnUsuarioContesto;
    }
    private void OnUsuarioContesto()
    {
        UsuariosContestado++;
    }
    private void Siguiente()
    {
        _timer = new Timer(OnTimerCallback, null, 1000, 1000);
    }
    private async void OnTimerCallback(object? state)
    {
        segundos -= 1;
        if (segundos == 0)
        {
            _timer?.Change(Timeout.Infinite, 0);
            _timer?.Dispose();
            _timer = null;

        }
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {

    }

}
