@page "/IngresarCodigo"
@inject NavigationManager NavigationManager
@inject ICuestionarioActivoServices _cuestionarioActivoServices
@layout ComponentBaseLobby
@inject SweetAlertService _sweetAlert
<link rel="stylesheet" href="css/codigo.css" />
<div class="code__body">
    <img src="./img/Logo.png" alt="">
    <h3 class="code__body__title">
        Inserta un codigo
    </h3>
    <div class="FormConteiner">
        <input type="number" @bind-value="code" placeholder="Codigo">
        <input type="submit" @onclick="IsCodeValid" value="Aceptar">
    </div>
    <a href="#">¿No sabes tu codigo?</a>
    <h1>Haz click arriba o pregunta al creador del juego para que te unas a la diversion</h1>
</div>
@code {

    public int code;
    public bool Mostrar = false;
    private async Task IsCodeValid()
    {
        var result = await _cuestionarioActivoServices.VerificarCodigo(code);
        if (result == true)
        {
            NavigationManager.NavigateTo($"/Entrar/{code}");
        }
        else
        {
            await _sweetAlert.FireAsync("Oops...","Sala no disponible", SweetAlertIcon.Info);
        }
    }
}
