@page "/MudPruebas"
@implements IDisposable
<link rel="stylesheet" href="/css/Preguntas.css">
<section class="preguntas__body">
    <div class="titleForTitulo">
        <div class="titleCuestionario">
          papu pro
        </div>
    </div>
    <section class="ProgressBarContainer">
        <MudProgressLinear Size="Size.Large" Color="Color.Secondary" Value="@Value" Class="my-4" />
    </section>
</section>

@code {

    protected async override Task OnInitializedAsync()
    {
        await SimulateProgressAsync();
    }

    public void Dispose()
    {

        _disposed = true;
    }
    private bool _disposed;

    public int Value { get; set; }

    public async Task SimulateProgressAsync()
    {
        Value = 0;
        do
        {
            if (_disposed)
            {
                return;
            }

            Value += 2;
            StateHasChanged();
            await Task.Delay(130);
            if (Value >= 100)
            {
                Console.WriteLine("Termino Barra"); 
            }
        } while (Value < 100);

        await SimulateProgressAsync();
    }

}