@inherits LayoutComponentBase
<link rel="stylesheet" href="css/codigo.css" />

<div>
    @Body
</div>

<script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
<script type="text/javascript">
    window.addEventListener('beforeunload', (e) => {
        e.returnValue = 'Estas seguro';
    });
</script>