.ModalGuardar {
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-self: center;
}

.title {
    background-color: rgba(245, 245, 220, 0.777);
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    font-size: 2em;
}

    .title.pregunta {
        width: 60%;
    }

.bodyContainer {
    background-color: #F8F8F8;
}

.custom-container {
    margin-left: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgWrapper {
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preguntas__body {
    width: 70dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5dvh;
    gap: 20px;
}

.ContainerEstadoGuardar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    width: 80%;
    background-color: #F3F3F3;
    border-radius: 5px;
}

.EstadoContainer {
    width: 30%;
    background: #FAFAFA;
}

.btnGuardarContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 18px;
}

.trashContainer {
    margin-top: 20px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.imgTrash {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btnAgregar {
    width: 80%; /* Igual ancho que .botones */
    display: flex;
    justify-content: right;
    align-items: center;
    background: beige;
    height: 8%;
    margin: 0 auto;
    width: 20%;
    background-color: #B045CF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    opacity: 90%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
    border-radius: 10px;
    transition: all .1s ease-in;
    border: 2px solid black;
}

.btnAg:hover {
    transform: translateY(-1%);
}

.btnAg {
    text-align: center;
    display: flex;
    opacity: 80%;
    width: auto;
    border-radius: 10px;
    background-color: #D492E7;
    color: black;
    font-weight: bold;
}

.btnAgregarImagen {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: black;
    opacity: 95%;
    font-size: 18px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    align-items: center;
}

.inp {
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
    opacity: 90%;
    padding: 10px;
    font-size: 18px;
    width: 97%;
    height: 92%;
    font-weight: 600;
    flex-grow: 1;
    border-radius: 10px;
    transition: all .1s ease-in;
    border: 2px solid black;
}

.ContainerBtnAgregarImg {
    height: 20%;
    text-align: center;
    transition: all .1s ease-in;
    width: 50%;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.contImgCorrecto {
    display: flex;
    height: 100%;
    margin-right: auto;
    width: 100%;
    background-color: #F3F3F3;
    background-image: url("C:/Users/jesus/Downloads/imagen.png");
}

.botones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px;
    width: 100%;
    height: 20%;
    background-color: rgba(245, 245, 220, 0.777);
    border: 1px solid black;
    border-radius: 5px;
}

.imgContentPregt {
    max-width: 95%;
    max-height: 80%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2;
    align-items: center;
    position: relative; /* Añadido */
}

.sectionImagen {
    display: flex;
    border: 2px;
    border-radius: 10px;
    opacity: 85%;
    border: 2px solid black;
    background-color: #F6F6F6;
    position: relative; /* Añadido */
}

.inpCont {
    color: black;
    display: flex;
    justify-content: left;
    margin: 10px;
    width: 100%;
    height: 100%;
    background: none;
    padding: 10px;
    font-weight: 600;
    flex-grow: 1;
    border: 0;
    transition: all .1s ease-in;
}

.textarea-inp {
    font-size: 40px;
    color: black;
    display: block;
    width: calc(100% - 40px);
    min-height: 50px;
    resize: none;
    padding: 10px;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

.inpCont.gei:active {
}

.inp:hover {
    transform: translateY(-1%);
}

.inp.b1 {
    background-color: #efa3ff;
}

.inp.b2 {
    background-color: #ff28f1;
}

.inp.b3 {
    background-color: #2889ff;
}

.inp.b4 {
    background-color: #a3ffab;
}

.inp.b5 {
    background-color: #ffa3a3;
}

.inp.b6 {
    background-color: #ffeea3;
}

.btn-normal {
    background-color: initial; /* O el color original */
}

.btn-correcta {
    opacity: 35%;
    background-color: #ffeea3;
}

.btn-incorrecta {
    background-color: red;
}

.checkbox-wrapper-26 * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.checkbox-wrapper-26 input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper-26 label {
    --size: 50px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: #f72414;
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

    .checkbox-wrapper-26 label:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: calc(var(--size) * .7);
        height: calc(var(--size) * .7);
        margin: 0 auto;
        background-color: #fff;
        transform: translateY(-50%);
        border-radius: 50%;
        box-shadow: inset 0 var(--shadow) #ffbeb8;
        transition: 0.2s ease width, 0.2s ease height;
    }

    .checkbox-wrapper-26 label:hover:before {
        width: calc(var(--size) * .55);
        height: calc(var(--size) * .55);
        box-shadow: inset 0 var(--shadow) #ff9d96;
    }

    .checkbox-wrapper-26 label:active {
        transform: scale(0.9);
    }

.checkbox-wrapper-26 .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .6);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
}

    .checkbox-wrapper-26 .tick_mark:before,
    .checkbox-wrapper-26 .tick_mark:after {
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        opacity: 0;
        transition: 0.2s ease transform, 0.2s ease opacity;
    }

    .checkbox-wrapper-26 .tick_mark:before {
        left: 0;
        bottom: 0;
        width: calc(var(--size) * .1);
        height: calc(var(--size) * .3);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
        transform: translateY(calc(var(--size) * -.68));
    }

    .checkbox-wrapper-26 .tick_mark:after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(var(--size) * .1);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
        transform: translateX(calc(var(--size) * .78));
    }

.checkbox-wrapper-26 input[type="checkbox"]:checked + label {
    background-color: #07d410;
    box-shadow: 0 var(--shadow) #92ff97;
}

    .checkbox-wrapper-26 input[type="checkbox"]:checked + label:before {
        width: 0;
        height: 0;
    }

    .checkbox-wrapper-26 input[type="checkbox"]:checked + label .tick_mark:before,
    .checkbox-wrapper-26 input[type="checkbox"]:checked + label .tick_mark:after {
        transform: translate(0);
        opacity: 1;
    }

.tooltipRC {
    position: relative;
    display: inline-block;
}

    .tooltipRC .tooltiptext::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    .tooltipRC .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 105%;
    }

    .tooltipRC:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
