@layout ComponentBaseLobby
@inject IHubStateCreador _hubStateCreador
<div class="activePlayers">
    <h1>Jugadores activos</h1>
    <div class="activePlayers__grid">
        @if (participantesActivos != null)
        {
            @foreach (var participante in participantesActivos)
            {
                <h3 class="jugador">
                    @participante.Nombre
                </h3>
            }
        }
        else
        {
            <h3>Esperando Jugadores..</h3>
        }
    </div>
</div>
@code {
    private IReadOnlyList<ParticipanteEnCuestionario>? participantesActivos { get; set; }

    protected override void OnInitialized()
    {
        participantesActivos = _hubStateCreador.participanteEnCuestionario;
        _hubStateCreador.OnParticipante += HandleruserJoin;

    }

    private void HandleruserJoin(ParticipanteEnCuestionario participante)
    {
        StateHasChanged();
    }

}
