@layout ComponentBaseHub
@inject IStateContainerOnPreg _stateContainer
<section class="preguntas__body">
    <div class="titleForTitulo">
        <div class="titleCuestionario">
            @_stateContainer.Titulo
        </div>
    </div>
    <section class="ProgressBarContainer">
        <MudProgressLinear Size="Size.Large" Color="Color.Secondary" Value="@Value" Class="my-7" />
    </section>
</section>
@code{
    [Parameter]
    public EventCallback OnTimerOff { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await SimulateProgressAsync();
    }

    public void Dispose()
    {
      
        _disposed = true;
    }
    private bool _disposed;
    public int Value { get; set; }
    public async Task SimulateProgressAsync()
    {
        Value = 0;
        do
        {
            if (_disposed)
            {
                return;
            }

            Value += 2;
            StateHasChanged();
            await Task.Delay(130);
            if (Value >= 100)
            {
                await OnTimerOff.InvokeAsync();
            }
        } while (Value < 100);

        await SimulateProgressAsync();
    }
}