@layout ComponentBaseHub
@inject IStateContainerOnPreg _stateContainer
@implements IDisposable 
<section class="preguntas__body">
    <h2 class="title">
        @_stateContainer.Titulo
    </h2>
    <h2 class="title">
        @segundos
    </h2>
</section>
@code{
   @using System.Threading;
    private int segundos = 3;
    [Parameter]
    public EventCallback OnTimerOff { get; set; }
    private Timer? _timer;
    protected override void OnInitialized()
    {
        _timer = new Timer(OnTimerCallback, null, 1000, 1000);

    }
    private async void OnTimerCallback(object? state)
    {
        segundos = segundos - 1;
        if (segundos == 0)
        {
            _timer?.Change(Timeout.Infinite, 0);
            _timer?.Dispose();
            _timer = null;
            await OnTimerOff.InvokeAsync();
        }
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        _timer?.Dispose();
    }
}